.player-list {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  /* outline: 1px solid gray;   */
}

.player-table {
  display: flex;
  justify-content: space-around;
  border-radius: 8px;
  outline: 1px solid gray;  
}

.player-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.player-row-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.player-img {
  width: 100px;
  overflow: hidden;
  position: relative;
  border-radius: 6px;
}

.player-name {
  width: 200px;
  text-align: left;
}

.player-cell {
  width: 60px;
  color: #fff;
  flex-wrap: wrap;
}

.player-card:hover {
  background-color: #333;
  cursor: pointer;
}

.player-name,
.player-cell {
  font-weight: 500;
}

.player-crop {
  position: "absolute";
  top: -20px;
  left: -30px;
  width: 100px;
  height: auto;
  object-fit: "cover";
}

.search-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;
  gap: 12px;
  outline: 1px solid red;
}

.player-spec {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  color: white;
}

.player-spec-header {
  margin-bottom: 16px;
}

.back-button {
  padding: 6px 12px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.filter-box {
  transition: all 0s;
}

.filter-box:hover {
  outline-offset: 2px;
  background-color: rgba(255, 255, 255, 0.035);
}

.filter-button {
  border-radius: 8px;
  font-size: 12px !important;
}

.filter-button:hover {
  outline-offset: 2px;
  background-color: rgba(255, 255, 255, 0.035);
}
