.squad-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  border-radius: 8px;
  margin: 50px auto;
  /* outline: 1px solid gray; */
  /* align-items: stretch; */
  height: 900px;
  /* overflow:scroll; */
  /* background-color: var(--background-color); */
}

.squad-formation {
  flex: 1 1 50%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 900px;
  /* outline: 1px solid blue; */
}

.squad-team,
.squad-overview {
  flex: 1 1 25%;
  width: 90%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* overflow: auto; */
  /* margin: 10px 0 0 0; */
  /* outline: 1px solid red; */
}

.button-group {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.squad-team-player {
  display: flex;
  flex-direction: row; 
  width: 100%; 
  /* height: 100%; */
  /* outline: 1px solid yellow; */
}

.squad-player {
  background-color: #007bff;
  border-radius: 8px !important;
  /* ✅ force square */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 50px;
  height: 50px;
}

.player-img {
  width: 100px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

#label {
  color: white;
  font-size: 1rem;
}

.search-player-src,
.search-player-desc {
  display: flex;
  justify-content: center;
  width: auto;
  height: 100px;
}

.squad-metrics-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  outline: 1px solid gray;
  border-radius: 8px;
  width: 100%;
  margin: 20px 0 0 0;
}

@media (max-width: 1000px) {
  .squad-container {
    flex-wrap: wrap;
    /* ✅ 모바일: 줄바꿈 허용 */
  }

  .squad-overview,
  .squad-select,
  .squad-team {
    flex: 1 1 100%;
    max-width: 100%;
    /* max-height: 100%; */
  }
}
