/* SquadBuilder.css */

.squad-builder {
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    padding: 0 0 10px 0;
    /* outline: 1px solid red; */
}

.squad-field {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px;
    background-image: url('/field.png');
    outline: 1px solid gray;
    background-color: rgba(0, 54, 14, 0.5);
}


.player {
    outline: 3px solid gray;
}

.player:hover {
    outline: 5px solid orange;
    cursor: pointer;
}

.player.selected {
    outline: 5px solid red;
    cursor: pointer;
}