.squad-field {
  display: flex;    
  width: 100%;
  height: 900px;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
  background-image: url("/field.png");
  outline: 1px solid gray;
  background-color: rgba(0, 54, 14, 0.5);
  flex: 1; /* take remaining space */
}

/* ✅ Mobile styles (width <= 768px) */
@media screen and (max-width: 768px) {
  .squad-field {
    height: 350px; /* smaller height for mobile */
    flex-direction: column; /* optionally stack elements vertically */
    border-radius: 8px;
    background-size: cover; /* ✅ keep it filled */
    background-position: center;
    padding: 10px;
  }
}

.squad-bench {
  width: 99%;
  position: relative;
  border-radius: 12px;
  margin: 10px 0 10px 0;
  outline: 1px solid gray;
}

.squad-bench {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 8px;
  gap: 8px;
  background-color: rgba(0, 54, 14, 0.5);
  color: black; /* bench player red card yellow card font color*/
  flex-shrink: 0; /* prevent shrinking */
}

.player {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: black;
  border: 3px solid yellow;
}

.goalkeeper {
  background: green;
}
