/* SquadBuilder.css */

/* .squad-builder {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;    
  align-items: center;    
} */

.squad-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  /* margin: 10px 0 0 0; */
}

.squad-field {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
  background-image: url("/field.png");
  outline: 1px solid gray;
  background-color: rgba(0, 54, 14, 0.5);
  flex: 1; /* take remaining space */
}

.squad-bench {
  width: 99%;
  position: relative;
  border-radius: 12px;
  margin: 10px 0 10px 0;
  outline: 1px solid gray;
}

.squad-bench {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 8px;
  gap: 8px;
  flex-shrink: 0; /* prevent shrinking */
}

.player {
  outline: 3px solid gray;
}

.player:hover {
  outline: 5px solid orange;
  cursor: pointer;
}

.player.selected {
  outline: 5px solid red;
  cursor: pointer;
}
