#root {    
  outline: 1px solid pink;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 1rem auto;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}
