.player-spec-body {
    
}

.player-spec-backbutton {  
  background-color: #333;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: flex-start;  
  margin: 0 0 16px 0;
    /* outline: 1px solid #333333;       */
}

.player-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1e1e;  
  border-radius: 12px;
  /* outline: 1px solid #00ff55;    */
  padding: 24px 0 55px 0;     
}

.player-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px; 
  margin: 0; 
  /* outline: 1px solid #333; */
}

.player-spec-img {  
  width: 150px;
  height: auto;
  border-radius: 8px;
  margin: 15px 0 0 0;
  /* outline: 1px solid #333;   */
  align-items: center;
}


 .player-info {    
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px; 
  margin: 0; 
  width: 70%;
  /* outline: 1px solid #ecdd07; */
} 

.player-name-row {
  margin-bottom: 12px;
  margin: 0;
  /* outline: 1px solid #333; */
}

.player-name {
  font-size: 20px;
  font-weight: bold;
  /* outline: 1px solid #333; */
}

.player-info-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;   
  gap: 8px; 
  margin: 0; 
  /* outline: 1px solid #333;   */
}

.player-info-stats {
  border-top: 1px solid #555; /* or any color you like */
  margin-top: 24px;           /* spacing from above section */
  padding-top: 16px;          /* spacing inside top border */
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
  gap: 16px;
  width: 80%;
  /* outline: 1px solid #9e9e9e; */
}

.player-basic-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px; 
  margin: 0; 
  /* outline: 1px solid #050aff; */
  width: 80%;  
}

.player-spec-radar-chart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0;
  /* outline: 1px solid #333;   */
}

.player-info-stats-row {
  display: flex;
  flex-direction: column;   
  gap: 8px; 
  margin: 0; 
  /* outline: 1px solid #333;    */
}

.player-info-cell-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
}

.player-info-cell-label {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  font-size: 15px;
  font-weight: bold;
  /* color: #BCA988;   */
  color: white;
  /* outline: 1px solid #333;   */
}

.player-info-cell {
  display: flex;
  flex-direction: column;
  text-align: center;    
  background-color: #1e1e1e;  
  color: #BCA988;
  /* outline: 1px solid #333;   */
  font-size: 14px;
  font-weight: bold;  
}