.player-spec-body {  
  /* padding: 24px; */
  max-width: 900px;
  margin: 0;
  color: white;
  outline: 1px solid #ec0707;
}

.player-spec-backbutton {  
  background-color: #333;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  outline: 1px solid #333333;      
  display: flex;
  align-items: flex-start;
  margin: 0 0 16px 0;
}

.player-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1e1e;
  padding: 0;   /* ← 좌우 padding 제거 */
  border-radius: 12px;
  outline: 1px solid #00ff55;  
  padding-left: 0; 
}

.player-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px; 
  margin: 0; 
  outline: 1px solid #333;
}

.player-spec-img {  
  width: 200px;
  height: auto;
  border-radius: 8px;
  flex-shrink: 0;
  margin: 0;
  /* outline: 1px solid #333;   */
  align-items: center;
}


 .player-info {    
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px; 
  margin: 0; 
  width: 70%;
  outline: 1px solid #333;
} 



.player-name-row {
  margin-bottom: 12px;
  margin: 0;
  outline: 1px solid #333;
}

.player-name {
  font-size: 28px;
  font-weight: bold;
  outline: 1px solid #333;
}

.player-info-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;   
  gap: 8px; 
  margin: 0; 
  outline: 1px solid #333;  
}

.player-info-stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
  gap: 16px;
  width: 70%;
  outline: 1px solid #333;
}

.player-basic-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px; 
  margin: 0; 
  outline: 1px solid #050aff;
  width: 80%;  
}

.player-spec-radar-chart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0;
  outline: 1px solid #333;  
}

.player-info-cell {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;    
  background-color: #1e1e1e;  
  outline: 1px solid #333;  
}

.player-info-cell-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
}

.player-info-stats-row {
  display: flex;
  flex-direction: column;   
  gap: 8px; 
  margin: 0; 
  outline: 1px solid #333;   
}

.player-info-cell-label {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  font-size: 14px;
  font-weight: bold;
  color: #BCA988;  
  outline: 1px solid #333;  
}