.search-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.search-player-mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: auto;
    min-height: 200px;
    border-radius: 8px;
    margin: 0 0 10px 0;
}

#search-player-list {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-y: auto;
    padding: 0.5rem;
    align-items: flex-start;
}

.search-player-src-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    margin-bottom: 1rem;
    position: relative;
    /* outline: 1px solid yellow; */
}

.search-player-src-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    position: relative;
    /* outline: 1px solid red; */
}

#search-player-root {}