/* SquadBuilder.css */

.squad-container {
    width: 100%;
    background-color: #1e1e1e;
    color: white;
    text-align: center;
}

.pitch {
    width: 100%;
    /* background-color: white; */
    aspect-ratio: 10 / 16;
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    /* border: 1px solid yellow; */
    background-image: url('/field.png');
    outline: 3px solid gray;
    background-color: rgba(0, 54, 14, 0.5);

}

.player {
    outline: 3px solid gray;
}

.player:hover {
    outline: 5px solid orange;
    cursor: pointer;
}

.player.selected {
    outline: 5px solid red;
    cursor: pointer;
}