.squad-container {
    margin: 50px auto;
    width: 100%;
    height: 100%;
    flex-direction: column;
    border-radius: 8px;
    background-color: var(--background-color);
    /* outline: 1px solid red; */
}

.squad-dropdown {
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    /* outline: 1px solid blue; */
}

.squad-dropdown-label {
    font-size: 1em;
}

.squad-main {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: stretch;
    border-radius: 8px;
    flex-wrap: wrap;
    /* outline: 1px solid yellow; */
}

.squad-select {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}

.squad-formation {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 2rem 1rem;
    gap: 0.3vw;
    outline: 1px solid white;
}

.squad-team {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    overflow-y: auto;
    flex-basis: 20%;
    min-width: 300px;
    /* when there's no space, it wraps below */
    transition: flex-basis 0.3s ease;
    /* outline: 1px solid white; */
}

@media (max-width: 1000px) {
    .squad-team {
        flex-basis: 100%;
    }
}

@media (max-width: 768px) {
    .squad-formation {
        /* 모바일에선 간소화 */
        grid-template-columns: repeat(10, 1fr);
    }
}

.squad-team-player {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 10px;
    /* outline: 1px solid white; */
}

.squad-player {
    background-color: #007bff;
    border-radius: 8px !important;
    /* ✅ force square */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 50px;
    height: 50px;
}

.player-img {
    width: 100px;
    height: auto;
    object-fit: cover;
    border-radius: 6px;
}

.player-avatar {
    width: 80px;
    /* or any size you want */
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center top;
    /* 👈 focus on the top part of image */
    overflow: hidden;
    display: block;
}

#label {
    color: white;
    font-size: 1rem;
}